<% user ||= current_user %>
<% size ||= 80 %>
<span class="cdf-user-av" data-initial="<%= user.email[0].upcase %>">
  <%= image_tag user_avatar_src(user, size: size),
      alt: user.email[0].upcase,
      class: "cdf-user-av__img",
      onerror: "this.parentElement.classList.add('no-photo')" %>
</span>
