<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6">
      <div class="card border-0 shadow-sm rounded-4">
        <div class="card-body p-4 p-md-5">
          <h2 class="h3 fw-semibold mb-4">Nouvelle fiche</h2>
          <%= render "form", knowledge_item: @knowledge_item %>
        </div>
      </div>
    </div>
  </div>
</div>
